.customers{
    background: rgb(224, 213, 213);
    height: 400px;
    h1{
        color:rgba(42, 126, 150, 0.9);
        text-transform: uppercase;
        padding: 100px 0px 0px 200px ;
    }
    
    .customer{
        margin: 50px 200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        .cus1{
            img{
                float: left;
                width: 200px;
                height: 100px;
               
            }
            span{
                padding-left:20px;
            }
            background: rgba(42, 126, 150, 0.9);
            color: white;
        }


    }
}