.latestnews{
   height: 800px;
    background-color: rgb(178, 189, 189);
    img{
        width: 310px;
        height: 300px;

    }
    h1{
        text-transform: uppercase;
        color: rgba(27, 55, 63, 0.9);
    }
    .news{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 100px 200px;
        color: rgba(27, 55, 63, 0.9);
        h2{
            text-transform: uppercase;
        }
        .news1{
           background-color: white;
           h3{
            border: 1px solid rgba(27, 55, 63, 0.9);
            text-transform: uppercase;
            color: white;
            background-color: rgba(27, 55, 63, 0.9);
            margin: 0 75px;
            text-align: center;
            padding: 5px;
           }
          
        }
        .news2{
            background-color: white;
            h3{
                border: 1px solid green;
                text-transform: uppercase;
                color: white;
                background-color: green;
                margin: 10px 75px;
                text-align: center;
                padding: 5px;
               }
        }
    }
}