.type{
    background:linear-gradient(0deg,rgba(37, 67, 75, 0.9),rgba(21, 52, 56, 0.9));
    background-repeat: no-repeat;
    background-size: 1350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-transform: uppercase;
    .email{
       color: rgba(32, 129, 156, 0.9);
       margin-left: 200px;
    
    }
    .subscribe{
        color: white;
        margin-left: 200px;
    }
}